{%- unless heading == blank and subheading == blank and button == blank -%}

  <div class="section-heading gutter-bottom--page {% if section.settings.full_width %} full-width-correction {% endif %} jc-center text-center-align">
    
    {%- unless heading == blank and subheading == blank -%}

      <div class="section-heading__text remove-empty-space no-padding">

        {%- unless heading == blank -%}
          <h2 class="section-heading__title h4">{{ heading | escape }}</h2>
        {%- endunless -%}

        {%- unless subheading == blank -%}
          <span class="section-heading__subheading text-size--large">{{ subheading }}</span>
        {%- endunless -%}

      </div>

    {%- endunless -%}
    
    {%- unless button == blank -%}

      <div class="section-heading__actions">
        {%- if button -%}
          <a class="text-size--large text-link" href="{{ link }}">{{ button_label | t }}</a>
        {%- endif -%}
      </div>

    {%- endunless -%}
  
  </div>

{%- endunless -%}